*{
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.grilla {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

html, body, #root, .contenedor-principal, .grilla {
  width: 100%;
  height: 100%;
}

.botones {
  flex-grow: 1; 
  background-color: #1E293B;
  color: #F8FAFC;
  border: none;
  outline: none;
}

.botones:hover {
  background-color: #475569;
}

.botones:active {
  background-color: #334155;
}