*{
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body, #root, .grilla {
  width: 100%;
  height: 100%;
}

.grilla {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.ancho_title {
  grid-row: span 2;
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E2E8F0;
  background-color: #FFFFFF;
  color: #0F172A;
  font-weight: 800;
  font-size: 25px;
}

.menu_lateral {
  grid-row: span 10;
  grid-column: span 3;
  display: flex;
  flex-direction: column;

}

.ancho_contenido {
  grid-row: span 10;
  grid-column: span 9;
  display: flex;
  flex-direction: column;
  background-color: #E2E8F0;
}

.botones_laterales {
  flex-grow: 1; 
  background-color: #1E293B;
  color: #F8FAFC;
  border: none;
  outline: none;
}

.botones_laterales:hover {
  background-color: #475569;
}

.botones_laterales:active {
  background-color: #334155;
}

.etiquetas_locales {
  flex-grow: 1;
  margin: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFFFFF  
}

.frame_bt_login {
  grid-row: 4 / 8;
  grid-column: 6 / 8;
  display: flex;
  flex-direction: column;
}

.botones_login {
  flex-grow: 1; 
  margin: 10px 0px
}

.pantalla_login {
  background-color: #E2E8F0;
}
